<template>
    <!-- <div class="input-group">
        <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                Send
            </button>
        </span>
    </div> -->
    <div class="type_msg">
        <div v-if="emojibox" class="emojibox" style='position:absolute; bottom:50px; right:10px;'>
            <VEmojiPicker @select="selectEmoji" />

        </div>
        <div class="input_msg_write">
            <input type="hidden" name="to" class="to">
            <input type="text" name="message" class="write_msg chatinp" v-model="newMessage" @keyup.enter="sendMessage"
                placeholder="Type a message" />
            <button class="msg_send_btn" type="button" @click="sendMessage">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
            <button class="msg_send_btn " @click="toggleEmojibox()" style="right:50px;" type="button">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</template>

<script>
    import { VEmojiPicker } from 'v-emoji-picker';
    export default {
        props: ['user'],

        components: {
            VEmojiPicker
        },

        data() {
            return {
                newMessage: '',
                emojibox : false,
            }
        },

        created(){

        },


        methods: {

            toggleEmojibox(){
                this.emojibox = !this.emojibox;
            },

            selectEmoji(emoji) {
                console.log(emoji.data);
                this.newMessage = this.newMessage+emoji.data;
            },
            sendMessage() {
                if(this.newMessage.length > 0){

                    this.$emit('messagesent', {
                        user: this.user,
                        message: this.newMessage,
                        // from : this.from,
                    });

                    this.newMessage = '';
                    this.emojibox = false;
                }

            },





        }
    }

</script>
