.activity-box {
  display: flex;
  justify-content: space-around;
}

.activity-box .sling {
  min-height: 500px;
  width: 50%;
}

.activity-box .sling .activity-holder {
  padding: 5px;
  margin-bottom: 15px;
}

.activity-box .sling .activity-holder .space {
  color: #57310f;
  font-size: 20px;
}

.activity-box .sling .activity-holder .divider {
  border-bottom: 1px solid #bbbbbb;
}

.activity-box .sling .activity-holder .activity {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.activity-box .sling .activity-holder .activity .icon {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.activity-box .sling .activity-holder .activity .icon .userpresenter {
  height: 45px;
  width: 45px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  background-color: #f0f056;
  color: white;
  padding-top: 5px;
}

.activity-box .sling .activity-holder .activity .info {
  width: 100%;
  margin-left: 15px;
}

.activity-box .sling .activity-holder .activity .info .date {
  color: gray;
  font-size: 11px;
  text-align: left;
  display: block;
  padding: 0px;
}

.activity-box .sling .activity-holder .activity .info .title {
  font-weight: bold;
}

.activity-box .sling .activity-holder .activity .info .description {
  color: gray;
}

.activity-box .sling-left {
  border-right: 1px solid #bbbbbb;
  padding-top: 40px;
}

.activity-box .sling-right {
  border-left: 1px solid #bbbbbb;
  padding-top: 100px;
}
/*# sourceMappingURL=activity-page.css.map */