.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel-body {
  overflow-y: scroll;
  height: 350px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border-radius: 12px;
}

.contact-list {
  border: 1px solid green;
}

.chat-new .container {
  max-width: 1170px;
  margin: auto;
}

.chat-new img {
  max-width: 100%;
  width: 25px;
}

.chat-new .inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.chat-new .inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.chat-new .top_spac {
  margin: 20px 0 0;
}

.chat-new .recent_heading {
  float: left;
  width: 40%;
}

.chat-new .srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.chat-new .headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.chat-new .recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.chat-new .srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.chat-new .srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.chat-new .srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat-new .chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat-new .chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat-new .chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat-new .chat_img {
  float: left;
  width: 11%;
}

.chat-new .chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat-new .chat_people {
  overflow: hidden;
  clear: both;
}

.chat-new .chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.chat-new .inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.chat-new .active_chat {
  background: #a0e1ff;
}

.chat-new .incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.chat-new .received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.chat-new .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 15px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 10px 10px;
  width: 100%;
}

.chat-new .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.chat-new .received_withd_msg {
  width: 57%;
}

.chat-new .mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.chat-new .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  font-size: 14px;
  margin: 0;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  width: 100%;
}

.chat-new .outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.chat-new .sent_msg {
  float: right;
  width: 46%;
}

.chat-new .input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.chat-new .type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.chat-new .msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.chat-new .msg_history {
  height: 516px;
  overflow-y: auto;
}

.chat-new .looper {
  padding-right: 10px;
}
/*# sourceMappingURL=chat.css.map */