.controlpanel {
  width: 60%;
  margin: 0 auto;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
  margin-top: 45px;
  background-color: white;
  border-radius: 4px;
  height: auto;
  padding: 20px;
}

@media (max-width: 722px) {
  .controlpanel {
    width: 90%;
  }
}

.controlpanel .header .meta {
  padding: 10px;
  text-align: center;
  color: black;
}

.controlpanel .header .meta .title {
  font-size: 28px;
  font-weight: bold;
}

.controlpanel .header .meta .description {
  font-size: 18px;
  margin-top: 10px;
  color: gray;
}

.controlpanel .header .people {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controlpanel .header .people .joined {
  display: flex;
  justify-content: center;
}

.controlpanel .header .people .joined .perk {
  height: 30px;
  width: 30px;
  background-color: #e2df18;
  color: white;
  border-radius: 50%;
  margin: 0px 4px;
  display: grid;
  justify-content: center;
  text-align: center;
  cursor: help;
}

.controlpanel .header .people .joined .perk p {
  text-align: center;
  padding-top: 2px;
}

.controlpanel .header .people .addnew {
  border: 1px solid gray;
  color: black;
  font-size: 12px;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.controlpanel .header .people .addnew:hover {
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
}

.controlpanel .body {
  margin-top: 20px;
}

.controlpanel .body .task-grid {
  display: grid;
  grid-template-rows: repeat(3, minmax(250px, min-content));
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 20px;
}

.controlpanel .body .task-grid .grid-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
}

.controlpanel .body .task-grid .grid-item .cardtitle {
  border-bottom: 1px solid lightgray;
}

.controlpanel .body .task-grid .grid-item .cardtitle .title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.controlpanel .body .task-grid .grid-item .body .placeholder {
  margin-top: 30px;
}

.controlpanel .body .task-grid .grid-item .body .placeholder .icon {
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.controlpanel .body .task-grid .grid-item .body .placeholder .icon .img {
  height: 100%;
  width: auto;
  padding: 0px;
}

.controlpanel .body .task-grid .grid-item .body .placeholder .description {
  text-align: center;
  font-size: 14px;
  color: gray;
}
/*# sourceMappingURL=controlpanel.css.map */