.select-menu {
  position: absolute;
  width: 200px;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
  display: none;
  z-index: 120;
}

.select-menu:hover {
  display: block;
}

.select-menu .item {
  width: 100%;
  padding: 5px 8px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.select-menu .item:hover {
  background-color: #cae9f3 !important;
  border-radius: 5px;
}

.select-menu .item label {
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
}

.addbtn:hover + .select-menu {
  display: block;
}

.task-grid {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, minmax(250px, min-content));
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 350px;
  grid-gap: 20px;
}

.task-grid .grid-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
}

.task-grid .grid-item .cardtitle {
  border-bottom: 1px solid lightgray;
}

.task-grid .grid-item .cardtitle .setting-icon {
  color: gray;
  position: absolute;
  width: fit-content;
}

.task-grid .grid-item .cardtitle .setting-icon:hover + .menu {
  color: black;
  display: block;
}

.task-grid .grid-item .cardtitle .menu {
  position: absolute;
  width: 200px;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
  display: none;
}

.task-grid .grid-item .cardtitle .menu:hover {
  display: block;
}

.task-grid .grid-item .cardtitle .menu .item {
  width: 100%;
  padding: 5px 8px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.task-grid .grid-item .cardtitle .menu .item:hover {
  background-color: #cae9f3;
  border-radius: 5px;
}

.task-grid .grid-item .cardtitle .menu .item label {
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
}

.task-grid .grid-item .cardtitle .title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.task-grid .grid-item .cardtitle .duedate {
  text-align: center;
  font-size: 14px;
  width: fit-content;
  padding: 8px 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  color: gray;
  float: right;
  margin-top: -30px;
  margin-bottom: 10px;
}

.task-grid .grid-item .body .placeholder {
  margin-top: 10px;
}

.task-grid .grid-item .body .placeholder .file-view {
  height: 180px;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
}

.task-grid .grid-item .body .placeholder .file-view .image-thumb {
  width: 100%;
  height: auto;
}

.task-grid .grid-item .body .placeholder .folder-icon {
  font-size: 80px;
  height: 180px;
  display: grid;
  align-items: center;
  text-align: center;
  color: #768392;
  cursor: pointer;
}

.task-grid .grid-item .body .placeholder .timeago {
  text-align: center;
  font-size: 11px;
  width: fit-content;
  padding: 8px 20px;
  color: gray;
  margin: 0 auto;
}

.task-grid .grid-item .body .placeholder .icon {
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.task-grid .grid-item .body .placeholder .icon .img {
  height: 100%;
  width: auto;
  padding: 0px;
}

.task-grid .grid-item .body .placeholder .description {
  text-align: center;
  font-size: 14px;
  color: gray;
}

.task-grid .grid-item .body .placeholder .duedate {
  text-align: center;
  font-size: 14px;
  width: fit-content;
  padding: 8px 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  color: gray;
  margin: 0 auto;
}

.file-preview {
  margin-top: 20px;
  display: flex;
}

.file-preview img {
  height: 200px;
  width: auto;
}

.file-display {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  min-height: 400px;
  margin-top: 25px;
}

.file-display .file-preview {
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
}

.file-display .file-preview .image {
  width: auto;
  height: 300px;
  margin: 0 auto;
}

.document-display {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  min-height: 400px;
  margin-top: 25px;
}

.document-display .document-preview {
  width: 100%;
  display: grid;
  align-items: center;
}

.folder-row {
  padding: 10px;
}

.folder-row .folder {
  display: flex;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.folder-row .folder:hover {
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
}

.folder-row .folder .icon {
  color: #768392;
}

.folder-row .folder .name {
  color: black;
  margin-left: 20px;
}

.folder-row .selected {
  border: 1px solid green;
  background-color: #e0e0e0;
}

.btn-prefolder {
  border: none;
  background: none;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 4px 8px;
  float: right;
}

.btn-prefolder:hover {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=fileshare.css.map */