.global-search-modal {
  background-color: rgba(0, 0, 0, 0.171);
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}

.global-search-modal .body {
  width: 40%;
  height: 60%;
  background-color: #725ead;
  box-shadow: -1px 1px 14px 3px #0000004a;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1180px) {
  .global-search-modal .body {
    width: 80% !important;
  }
}

.global-search-modal .body .closebtn {
  background-color: #5e4f8d;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  color: white;
  float: right;
  transform: translate(10px, -15px);
}

.global-search-modal .body .header {
  padding: 12px;
}

.global-search-modal .body .header .searchinp {
  border: none;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  width: 100%;
  height: 35px;
  text-indent: 12px;
  color: white;
}

.global-search-modal .body .header ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ebebeb;
}

.global-search-modal .body .content {
  padding: 10px 18px;
}

.global-search-modal .body .content .collection-group .title {
  color: #a08ae2;
}

.global-search-modal .body .content .collection-group .collection {
  padding-top: 12px;
}

.global-search-modal .body .content .collection-group .collection .rowselect {
  background-color: #9d85e4;
}

.global-search-modal .body .content .collection-group .collection .searchablerow {
  color: white;
  display: flex;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.global-search-modal .body .content .collection-group .collection .searchablerow:hover {
  background-color: #9d85e4;
}

.global-search-modal .body .content .collection-group .collection .searchablerow .icon {
  width: 10%;
  height: 26px;
  width: 26px;
  color: black;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.global-search-modal .body .content .collection-group .collection .searchablerow .icon i {
  position: relative;
  font-size: 12px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.global-search-modal .body .content .collection-group .collection .searchablerow .icon .img {
  width: 100%;
  height: auto;
  padding: 0px;
}

.global-search-modal .body .content .collection-group .collection .searchablerow .detail {
  width: 90%;
  padding-left: 20px;
}

.clearfix {
  clear: both;
}
/*# sourceMappingURL=globalsearch.css.map */