.actionpanel {
  width: 50%;
  margin: 0 auto;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
  margin-top: 10px;
  background-color: white;
  height: auto;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 60px;
}

@media (max-width: 722px) {
  .actionpanel {
    width: 80%;
  }
}

.actionpanel .name {
  color: black;
  margin-left: 12px;
  font-size: 22px;
  font-weight: bold;
}

.actionpanel .link {
  color: gray;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.actionpanel .link:hover {
  color: black;
}

.panelcard {
  width: 60%;
  margin: 0 auto;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
  background-color: white;
  border-radius: 4px;
  height: auto;
  padding: 50px;
  min-height: 500px;
}

@media (max-width: 722px) {
  .panelcard {
    width: 90%;
  }
}

.panelcard .header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}

.panelcard .header .addbtn {
  align-self: flex-start;
  float: left;
  font-size: 13px;
  background-color: #2dca81;
  color: white;
}

.panelcard .header .title {
  width: 80%;
  text-align: center;
  font-size: 35px;
  margin-top: -7px;
  font-weight: bold;
}

.panelcard .userslist {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

.panelcard .userslist .coastline {
  border: 1px solid gray;
  margin-top: 20px;
}

.panelcard .userslist .title {
  color: black;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  margin-top: -30px;
  width: fit-content;
}

.panelcard .userslist .user {
  padding: 10px 30px;
  display: flex;
  justify-content: flex-start;
}

.panelcard .userslist .user .profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.panelcard .userslist .user .profile .img {
  width: 100%;
  padding: 0px;
}

.panelcard .userslist .user .info .name {
  font-weight: bold;
  font-size: 16px;
}

.panelcard .userslist .user .info .email {
  color: gray;
  font-size: 14px;
}

.panelcard .userslist .user .info .designation {
  color: gray;
  font-size: 14px;
}

.panelcard .userslist .user .info .actions {
  display: flex;
  margin-top: 12px;
  display: none;
}

.panelcard .userslist .user .info .actions .action {
  font-size: 12px;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin-right: 12px;
}

.panelcard .userslist .user .info .actions .action .i {
  padding: 0px;
  text-align: center;
}

.panelcard .userslist .user:hover .info .actions {
  display: flex;
}

.panelcard .addnewperson {
  display: none;
}

.panelcard .addnewperson .head .close {
  height: 30px;
  width: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  display: grid;
  align-items: center;
}

.panelcard .addnewperson .head .close i {
  font-size: 16px;
}

.panelcard .addnewperson .steps {
  background-color: #faf8f7;
  border-radius: 18px;
  margin-top: 20px;
  min-height: 400px;
  padding: 20px;
}

.panelcard .addnewperson .steps .step {
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;
}

.panelcard .addnewperson .steps .step .title {
  font-size: 22px;
}

.panelcard .addnewperson .steps .step:last-child {
  border: 0px;
}

.panelcard .addnewperson .steps .step .body {
  padding: 10px;
}

.panelcard .addnewperson .steps .step1 .body .addanother {
  font-size: 12px;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .header {
  border: 0px;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .header .remove {
  display: block;
  width: 100%;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .header .remove i {
  float: right;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .header .remove i:hover {
  color: black;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .form-group {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 0px;
  padding-bottom: 10px;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .form-group:last-child {
  border: 0px;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .form-group label {
  margin-right: 20px;
  font-size: 18px;
  width: fit-content;
  color: gray;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .form-group input {
  border: 0;
  width: 70%;
}

.panelcard .addnewperson .steps .step1 .body .newpersonvoid .newpersonform .form-group select {
  border: 0;
  width: 70%;
}

.panelcard .addnewperson .steps .step3 .body .btnrow {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.panelcard .addnewperson .steps .step3 .body .btnrow .btn {
  margin-right: 10px;
}

.panelcard .addnewperson .steps .step3 .body .btnrow .sendnow {
  background-color: #2dca81;
  color: white;
}

.widemodal {
  max-width: 45%;
}

@media (max-width: 722px) {
  .widemodal {
    max-width: 100%;
  }
}

.mailinfo .info span {
  padding-right: 20px;
}

.mail-view {
  margin-top: 15px;
}

.mail-view .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mail-view .mail-note {
  margin-bottom: 20px;
}

.mail-view .mail-note .note-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.mail-view .mail-note .note {
  font-size: 18px;
  color: black;
  background-color: #ffffaf;
  border: 1px solid #c7c700;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
}

.mail-view .mail-join {
  margin: 15px 0px;
}

.mail-view .mail-join .join-note {
  font-size: 20px;
}

.mail-view .mail-join .join-button {
  margin-top: 15px;
  background-color: #2da562;
  color: white;
}

.mail-view .mail-join .reply-note {
  font-size: 18px;
  margin-top: 15px;
}
/*# sourceMappingURL=invitetocompany.css.map */