.sidebar-toggle {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 5px;
  display: none;
}

@media (max-width: 1180px) {
  .sidebar-toggle {
    display: block;
  }
}

@media (max-width: 1180px) {
  .searchbarholder {
    width: 20% !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: flex-end;
  }
  .searchbar {
    width: 100% !important;
    transform: translateX(0%);
  }
}

.leet-sidebar-show {
  display: none !important;
}

.leet-sidebar {
  background-color: #f9f7f2;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.068);
  height: 80vh;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  border-radius: 15px;
  padding: 20px 0px;
  transition: 0.6s;
  height: auto;
  min-height: 90vh;
}

@media (max-width: 1180px) {
  .leet-sidebar {
    display: block;
    width: 100%;
    height: 100vh;
    left: 0;
    padding-top: 85px;
  }
}

.leet-sidebar:hover {
  transition: 0.6s;
}

.leet-sidebar:hover .menu-item {
  width: 70px;
  transition: 0.6s;
}

@media (max-width: 1180px) {
  .leet-sidebar:hover .menu-item {
    width: 42%;
    float: left;
    background: #fff4e8;
    margin: 4%;
  }
}

.leet-sidebar:hover .menu-item .icon {
  width: 40px;
}

.leet-sidebar:hover .menu-item .label {
  display: block;
}

@media (max-width: 1180px) {
  .leet-sidebar:hover .menu-item .label {
    display: block;
  }
}

.leet-sidebar .menu-item {
  width: 60px;
  border-radius: 12px;
  padding-bottom: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.6s;
}

@media (max-width: 1180px) {
  .leet-sidebar .menu-item {
    width: 42%;
    float: left;
    background: #fff4e8;
    margin: 4%;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.192);
  }
}

.leet-sidebar .menu-item:hover {
  background-color: #252525;
}

.leet-sidebar .menu-item:hover .label {
  color: white;
}

.leet-sidebar .menu-item .icon {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  transition: 0.6s;
}

.leet-sidebar .menu-item .icon img {
  width: 100%;
}

.leet-sidebar .menu-item .label {
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
  margin-bottom: 6px;
  display: none;
}

@media (max-width: 1180px) {
  .leet-sidebar .menu-item .label {
    display: block;
  }
}

.leet-sidebar .active {
  background-color: #252525;
}

.leet-sidebar .active .label {
  color: white;
  display: block;
}
/*# sourceMappingURL=leetsidebar.css.map */