.topheader {
  height: 55px;
  width: 100%;
  background: #F7F3F1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 120;
}

.topheader .logo {
  height: 100%;
  margin-left: 10px;
}

.topheader .logo img {
  height: 100%;
  width: auto;
}

.topheader .searchbarholder {
  margin: 0 auto;
  height: 100%;
  transform: translateX(-40%);
  display: grid;
  align-items: center;
}

.topheader .searchbarholder input {
  background: none;
  width: 280px;
  border: 1px solid gray;
  border-radius: 9px;
  text-align: center;
}

.uploadbox {
  padding: 20px;
  border: 1px dashed #c09059;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.logopreviewbox {
  height: 100px;
  text-align: center;
}

.logopreviewbox img {
  width: auto;
  height: 100% !important;
}

.logopreviewbox .btngroup {
  margin: 0 auto;
  margin-top: 12px;
  width: fit-content;
}

.logopreviewbox .btngroup .btn {
  font-size: 12px;
}

.actuallogo {
  height: 100px;
  text-align: center;
}

.actuallogo img {
  width: auto;
  height: 100% !important;
}

.settingbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}

.settingbtn:hover {
  color: black;
}

.company-collection-card-modal {
  box-shadow: 1px 1px 5px 2px #00000014;
  padding: 30px;
}

.company-collection-card-modal .company-name {
  font-size: 19px;
  font-weight: bold;
}

.company-collection-card-modal .company-description {
  font-size: 15px;
  margin-top: 15px;
}

.company-collection-card-modal .users-in-company {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.company-collection-card-modal .users-in-company .user {
  margin-right: 10px;
}

.company-collection-card-modal .users-in-company .user .profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  padding-top: 4px;
  display: grid;
  justify-content: center;
}

.company-collection-card-modal .users-in-company .user .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  background-color: black;
  justify-content: center;
}

.company-collection-card-modal .users-in-company .user .profile-img .profile {
  width: 100%;
  padding: 0px;
}

.company-collection-card-modal:hover {
  transition: 0.6s;
  transform: scale(1.07);
  cursor: pointer;
}

.colorpicker {
  background: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0px;
  margin-left: 50px;
}

input[type="color" i] {
  padding: 0px !important;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.company-collection-card {
  box-shadow: 1px 1px 5px 2px #00000014;
  overflow: hidden;
}

.company-collection-card .view {
  padding: 30px;
}

.company-collection-card .view .pin-icon {
  position: absolute;
  top: 0;
  left: 7px;
  width: fit-content;
  height: 40px;
}

.company-collection-card .view .pin-icon img {
  height: 100%;
  width: auto;
}

.company-collection-card .view .editor-toggle {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.company-collection-card .view .editor-toggle:hover {
  color: black;
}

.company-collection-card .view .company-name {
  font-size: 19px;
  font-weight: bold;
}

.company-collection-card .view .company-description {
  font-size: 15px;
  margin-top: 15px;
}

.company-collection-card .view .users-in-company {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.company-collection-card .view .users-in-company .user {
  margin-right: 10px;
}

.company-collection-card .view .users-in-company .user .profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  padding-top: 4px;
  display: grid;
  justify-content: center;
}

.company-collection-card .view .users-in-company .user .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  background-color: black;
  justify-content: center;
}

.company-collection-card .view .users-in-company .user .profile-img .profile {
  width: 100%;
  padding: 0px;
}

.company-collection-card .editor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.company-collection-card .menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.company-collection-card .menu .editor-close {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.company-collection-card .menu .editor-close:hover {
  color: black;
}

.company-collection-card .menu .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.company-collection-card .menu ul {
  list-style: none;
  padding: 0px;
}

.company-collection-card .menu ul li {
  font-size: 18px;
}

.company-collection-card .menu ul li:hover {
  transform: scale(1.02);
  background-color: rgba(116, 188, 230, 0.267);
}

.company-collection-card .menu ul li i {
  font-size: 14px;
  margin-right: 15px;
}

.company-collection-card .successpulse {
  transition: 0.6s;
  background-color: rgba(145, 255, 191, 0.637);
}

.company-collection-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.team-collection-card {
  box-shadow: 1px 1px 5px 2px #00000014;
  overflow: hidden;
}

.team-collection-card .view {
  padding: 30px;
}

.team-collection-card .view .editor-toggle {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.team-collection-card .view .editor-toggle:hover {
  color: black;
}

.team-collection-card .view .team-name {
  font-size: 19px;
  font-weight: bold;
}

.team-collection-card .view .team-description {
  font-size: 15px;
  margin-top: 15px;
}

.team-collection-card .view .users-in-team {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.team-collection-card .view .users-in-team .user {
  margin-right: 10px;
}

.team-collection-card .view .users-in-team .user .profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  padding-top: 4px;
  display: grid;
  justify-content: center;
}

.team-collection-card .view .users-in-team .user .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  background-color: black;
  justify-content: center;
}

.team-collection-card .view .users-in-team .user .profile-img .profile {
  width: 100%;
  padding: 0px;
}

.team-collection-card .editor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.team-collection-card .menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.team-collection-card .menu .editor-close {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.team-collection-card .menu .editor-close:hover {
  color: black;
}

.team-collection-card .menu .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.team-collection-card .menu ul {
  list-style: none;
  padding: 0px;
}

.team-collection-card .menu ul li {
  font-size: 18px;
}

.team-collection-card .menu ul li:hover {
  transform: scale(1.02);
  background-color: rgba(116, 188, 230, 0.267);
}

.team-collection-card .menu ul li i {
  font-size: 14px;
  margin-right: 15px;
}

.team-collection-card .successpulse {
  transition: 0.6s;
  background-color: rgba(145, 255, 191, 0.637);
}

.team-collection-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-collection-card {
  box-shadow: 1px 1px 5px 2px #00000014;
  overflow: hidden;
}

.project-collection-card .view {
  padding: 30px;
}

.project-collection-card .view .editor-toggle {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.project-collection-card .view .editor-toggle:hover {
  color: black;
}

.project-collection-card .view .project-name {
  font-size: 19px;
  font-weight: bold;
}

.project-collection-card .view .project-description {
  font-size: 15px;
  margin-top: 15px;
}

.project-collection-card .view .users-in-project {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.project-collection-card .view .users-in-project .user {
  margin-right: 10px;
}

.project-collection-card .view .users-in-project .user .profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  padding-top: 4px;
  display: grid;
  justify-content: center;
}

.project-collection-card .view .users-in-project .user .profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  background-color: black;
  justify-content: center;
}

.project-collection-card .view .users-in-project .user .profile-img .profile {
  width: 100%;
  padding: 0px;
}

.project-collection-card .editor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.project-collection-card .menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s;
}

.project-collection-card .menu .editor-close {
  position: absolute;
  color: gray;
  top: 10px;
  right: 10px;
}

.project-collection-card .menu .editor-close:hover {
  color: black;
}

.project-collection-card .menu .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-collection-card .menu ul {
  list-style: none;
  padding: 0px;
}

.project-collection-card .menu ul li {
  font-size: 18px;
}

.project-collection-card .menu ul li:hover {
  transform: scale(1.02);
  background-color: rgba(116, 188, 230, 0.267);
}

.project-collection-card .menu ul li i {
  font-size: 14px;
  margin-right: 15px;
}

.project-collection-card .successpulse {
  transition: 0.6s;
  background-color: rgba(145, 255, 191, 0.637);
}

.project-collection-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/*# sourceMappingURL=override.css.map */