.nav {
    height: 40px;
    font-size: 1.4rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
.nav__bar {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 6;
}
.flush {
    margin: 0 !important;
}
.nav-menu {
    position: relative;
    line-height: 1.5;
    z-index: 9;
}
.reading__link {
    display: block;
    padding: 1rem 0 0.8rem;
    font-size: 1.6rem;
}
.reading__avatar {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    width: 4rem;
}
.u-position--top-right {
    top: 0;
    right: 0;
}
.nav__link--me {
    width: 4.6rem;
    height: 3.9rem;
    padding: 0.5rem 0.8rem 0;
    background: none;
}
.caps-subheading--orange {
    color: #ff5400;
}
.u-position--bottom-right {
    bottom: auto;
    right: 20px;
}
.decorated{
    text-decoration: underline;
    color: #2D69D9;
}
.decorated:hover{
    text-decoration: underline;
}
.flush--ends {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#show-bucket{
    cursor: pointer;
}
.bold-input{
    font-size: 42px;
    font-weight: 900;
    border: 0;
}
.bucket{
    border: 1px solid #222;
    margin-left: 5px;
}
.reading__description {
    line-height: 1.3;
}
.normal {
    font-weight: normal;
}
.reading__metadata {
    font-size: 0.75em;
    color: #6d6d6d;
}
.message-draft-btn
{
    background-color: #2D69D9 !important;
    color: #fff !important;
}
#exampleFormControlTextarea1:focus{
    box-shadow: 0 0em;
}
.img-btn {
    width: auto !important;
    padding: 10px;
    cursor: pointer;
}
#nav-ping{
    cursor: pointer;
}
[data-notifications-state=on] .notification-status, html:not([data-notifications-state]) .notification-status {
    display: none;
}
.activeClass{
    background-color: #007bff !important;
    color: #fff !important;

}
body, span, p, h1,h2,h3,h4,h5,h6, a{
    font-family: 'Roboto', sans-serif !important;
}
.txt-size{
    font-size: 15px;
    padding-left: 25px;
}
.card__title {
    font-size: 25px;
}
.avatar-img{
    width: 20%;
    position: absolute;
    left: 88%;
    top: 10%;
}
#navigation_me{
    position: fixed;
    background-color: #fff;
}
.notification-toggle-btn{
    font-size: 15px !important;
    margin-left: 20px;
}
.notification-toggle-btn:hover{
    color: #000000;
    background-color: transparent;
}
.notification-status {
    position: absolute;
    top: 50%;
    right: 4.6rem;
    min-height: 2.1rem;
    padding: 0.5rem 0.1rem 0.5rem 2rem;
    margin-top: -1.1rem;
    border-radius: 0.4rem;
    background-size: 1.5rem;
}
.list--unbulleted {
    padding-left: 0;
    list-style: none;
}
.u-position-left {
    left: 0;
}

.u-position-right, .u-position-left, .u-position--top-right, .u-position--bottom-right {
    position: absolute !important;
}
.nav__item {
    display: inline-block;
    vertical-align: bottom;
}
.nav-menu {
    position: relative;
    line-height: 1.5;
    z-index: 9;
}
.nav__link--accounts {
        background-size: 12rem;
        width: 4.2rem;
        height: 3.9rem;
        padding: 0.5rem 0.8rem 0;
    }

        .nav__link {
            display: block;
            padding: 2.2rem 0 0.5rem;
            font-size: 1.1rem;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-align: center;
            line-height: 1;

            background-size: 1.5rem;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
        a
        {
            background: transparent;
        }
        a:hover{
            text-decoration: none;
            color: #212529;
            background-color: transparent !important;
        }
        [data-behavior~=expandable]>.collapsible_content>.expanded_content, [data-behavior~=expandable]>.expanded_content {
            display: none;
        }
.nav__my-stuff:before {
    content: '';
    position: absolute;
    left: 1rem;
    margin-top: 0.3rem;
    height: 1rem;
    width: 1rem;
    background: #283c46;
    border-radius: 100%;
    z-index: -1;
}
.content-type-icon{
    border-radius: 25px !important;
    background-color: #fff;
}
.box{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 0 0.2px;
}
.email-btn{
    font-size: 14px !important;
    color: #ff5400 !important;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 15px;
}
            .nav-menu__sheet {
                position: fixed;
                top: 3.8rem;
                left: 0;
                background-color: #fff;
                border: 0;
                white-space: normal;
                margin-top: 1px;
                box-shadow: 0 0 4px rgb(0 0 0 / 15%), 0 5px 10px rgb(0 0 0 / 5%);
            }
            .nav-menu__sheet {
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,0.1);
                box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 5px 20px rgb(0 0 0 / 5%);
            }
            .nav-menu__sheet {
                width: 30rem;
                position: absolute;
                top: 3.2rem;
                right: 0;
                background: #fff;
                text-align: left;
                z-index: 5;
                -ms-overflow-y: scroll;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }
        .a-for-screen-reader {
            position: absolute;
            height: 1px;
            width: 1px;
            clip: rect(1px, 1px, 1px, 1px);
            overflow: hidden;
            white-space: nowrap;
        }
        .u-display-ib {
            display: inline-block;
        }

        .flush {
            margin: 0 !important;
        }
    .nav__main {
        background-color: rgba(246,242,239,0.9);
        width: 100%;
    }
    .list--unbulleted {
        padding-left: 0;
        list-style: none;
    }
.card--project .card__title {
    position: relative;
    width: 100%;
    z-index: 2;
}
.card__slider--step-2 .card__slide-1 {
    margin-left: -24rem;
    visibility: hidden;
}
.card__description, .card__metadata {
    font-size: 15px;
}
.options-menu__action:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
}
.options-menu__action {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s;
    display: block;
    padding: 1rem 1.5rem;
    line-height: 1.2;
    padding-left: 2.8em;
    background-position: 1rem 50%;
    background-repeat: no-repeat;
    background-size: 1.5em;
}
.options-menu__title, .options-menu__action {
    font-size: 15px;
}
.card-settings__action {
    padding-top: 0.5em !important;
    padding-bottom: 0.6em !important;
    font-size: 15px !important;
}
.card__title--settings, .card__description--client, .card__description--client+.card__title+.card__description, .card-settings__action {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn--overflow-icon-light{
    top: 0px;
    right: 5px;
    position: absolute;
}
.card--project .card__title {
    font-size: 20px;
}
.notification-status__label {
    margin-right: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: none;
    text-indent: -999em;
}
img:not(.img--sized) {
    height: auto;
    width: 10%;
    padding-top: 10px;
}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
}
img {
    max-width: 100%;
}
img {
    border: 0;
}
.a-for-screen-reader {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    white-space: nowrap;
}
.u-hide-focus {
    outline: none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
section{
position: relative;
}
.panel {
    padding: 0 1.6rem;
    margin: 0 auto 10rem;
    max-width: 70em;
}
.manage-panel{
    max-width: 55em;
}
bc-content-filter {
    display: block;
}
.centered {
    text-align: center;
}
.push--top {
    margin-top: 1.25em !important;
}
.projects-filter {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.txt--small {
    font-size: 1.3rem;
}
.hidden-menu{
    cursor: pointer;
    width: 15%;
}
.to-do-form{
    border: 1px solid darkgrey;
    border-radius: 10px;
}
.to-do-form form .form-control{
    border: 0;
}
.to-do-form form .form-control:focus{
    box-shadow: unset;
    border-color: transparent;
    border: 0;
}
.push_quarter--top {
    margin-top: 0.3125em !important;
}
.metadata {
    font-size: 0.8em;
}
.projects-filter__input {
    width: 100%;
}

.input, .prompt {
    -webkit-transition: box-shadow 0.15s ease-in-out;
    -moz-transition: box-shadow 0.15s ease-in-out;
    -ms-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    padding: 0.5em;
    resize: none;
}
.input, .prompt {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.4rem;
    line-height: 1.5;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.push_quarter--bottom {
    margin-bottom: 0.3125em !important;
}
.project-index__header, .project-index__description {
    color: #877457;
    font-weight: normal;
}
.break {
    z-index: 0;
    position: relative;
}
h1, h2, h3 {
    line-height: 1.2;
}
.break:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: -1;
}
.break--on-background>span {
    background: #f6f2ef;
}
.card-grid--6-up .row .card{
    border: 1px solid #222831;
}
.break>span {
    display: inline-block;
    padding: 0 0.5em;
}
.card-grid--projects {
    text-align: center;
    font-size: 0;
}
.card-grid--projects .card {
    display: inline-block;
    margin: 0.45em 0.4em;
}
.card--project-logo, .card--project-me {
    background: none;
    box-shadow: none;
    text-align: center;
}
.card--project:before {
    padding-top: 55%;
}
flex--vertically-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex--vertically-center, .flex_vbox {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.flex--vertically-center, .flex_vbox, .flex_hbox, .flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.card {
    position: relative;
    width: 46% !important;
    margin: 2%;
    vertical-align: top;
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: left;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}
.logo-uploader__preview {
    position: relative;
    min-height: 3rem;
}
.u-display-n {
    display: none;
}
.logo-uploader__preview {
    position: relative;
    min-height: 3rem;
}
img:not(.img--sized) {
    height: auto;
}
.align--middle {
    vertical-align: middle;
}
.logo-uploader__logo {
    max-width: 100%;
    max-height: 9.3rem;
}
.card {
    border-radius: 0.6rem;
    border: 0;
}
.card__content .logo-uploader__edit {
    -webkit-transition: opacity 0.2s ease 0;
    -moz-transition: opacity 0.2s ease 0;
    -ms-transition: opacity 0.2s ease 0;
    transition: opacity 0.2s ease 0;
    cursor: pointer;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    height: 3rem;
    width: 3rem;
}
.nav-menu.expanded:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -9px;
    border: 9px solid rgba(255,255,255,0);
    border-bottom-color: #fff;
    z-index: 5;
}
.push_quarter--top {
    margin-top: 0.3125em !important;
}
.u-hide-on-desktop {
    display: none;
}
.push_half--top {
    margin-top: 0.625em !important;
}
.centered {
    text-align: center;
}
.submit-buttons {
    margin-top: 2rem;
}
.plain-btn {
    padding: 0;
    border: 0;
    background: none;
    text-align: left;
}
.push_half--bottom {
    margin-bottom: 0.625em !important;
}
.submit-buttons .btn {
    margin-bottom: 1rem;
}
.normal {
    font-weight: normal;
}
.btn--with-icon {
    padding-left: 2.25em !important;
    background-position: 0.75em center;
    background-repeat: no-repeat;
    background-size: 1.25em auto;
    margin-right: 90%;
}

.btn--small {
    font-size: 1.3rem;
    padding-top: 0.425em;
    padding-bottom: 0.425em;
}
.project-index__toolbar--new {
    left: 0;
    right: auto;
}

.project-index__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    margin: -2px 0 0 0;
    color: #000;
}
.btn--small-icon {
    background-size: 1.6rem;
}
.btn--borderless {
    border-color: rgba(255,255,255,0) !important;
    background-color: rgba(255,255,255,0) !important;
}
.btn--icon, .btn--small-icon {
    width: 2.45em;
    height: 2.45em;
    padding: 0 !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 2rem auto;
    text-indent: -999em;
}
.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 25px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    cursor: pointer;
}
.btn {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    line-height: 1.5;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}
.nav-menu.expanded .collapsible_content .nav-menu__sheet.expanded_content {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.drop_zoned {
    position: relative;
}

.centered {
    text-align: center;
}
.logo-uploader--mini .logo-uploader__dropzone {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.logo-uploader__dropzone {
    padding: 3.8rem 1rem;
    border-radius: 0.4rem;
    border: 2px dashed rgba(0,0,0,0.15);
    position: relative;
}
.logo-uploader--mini .logo-uploader__picker {
    width: 100%;
    text-align: center;
    padding: 2.5rem 1rem;
    outline: none;
    font-size: 15px;
}
.nav-menu__section--flush-bottom {
    padding-bottom: 0;
}
.nav-menu__scroller {
    overflow-y: overlay;
}
.nav-menu__scroller {
    padding-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.txt--subtle {
    color: #6d6d6d;
}
.nav-menu__sheet {
    position: fixed;
    top: 3.8rem;
    left: 0;
    background-color: #fff;
    border: 0;
    white-space: normal;
    margin-top: 1px;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%), 0 5px 10px rgb(0 0 0 / 5%);
}
.nav-menu__sheet {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 5px 20px rgb(0 0 0 / 5%);
}
.nav-menu__sheet {
    width: 30rem;
    position: absolute;
    top: 3.2rem;
    right: 0;
    background: #fff;
    text-align: left;
    z-index: 5;
    -ms-overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
@media (min-width: 568px) {
    .card {
        width: 29% !important;
        font-size: 1.2rem;
    }
}
    @media screen and (min-width: 768px) {
        .nav__link {
            background-position: 1.2rem center;
            background-size: 2rem;
            background-position: center left !important;
            padding: 1.3rem 1.2rem 1.1rem 1.5rem;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }
        .card--project .card__content {
            padding: 1.1em;
        }
        .card--project {
            width: 23.5rem;
        }
        .projects-filter {
            width: 60%;
        }
        .nav-menu__sheet {
            max-height: calc(100vh - 160px);
            width: 35rem;
            left: 0;
        }
        .nav-menu__sheet--align-right {
            left: auto;
            right: 0;
        }
        large {
            width: 86rem;
            margin-left: -43rem;
        }
        .nav-menu__sheet {
            max-height: calc(100vh - 160px);
            width: 35rem;
            left: 0;
        }
        .auth-box{
            top: 10%;
            left: 25%;
            width: auto;
        }
    }
@media only screen and (max-width: 400px){
    .auth-box{
        top: 10%;
        left: 7%;
        width: auto;
    }
}
@media screen and (min-width: 992px) {
    .nav__link--accounts {
        width: 13.6rem;
    }
    .nav__main {
        width: 92%;
        max-width: 70em;
    }
    .notification-status__label {
        text-indent: inherit;
        margin-right: 0.5rem;

    large {
        width: 86rem;
        margin-left: -43rem;
    }
}
body { display: felx; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; }
body > p { font-family: "Satellite", "Roboto", sans-serif; font-size: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 20px 40px; text-align: justify; }

.calendar { width: 800px; height: 800px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: "Satellite", "Roboto", sans-serif; border: 1px solid rgba(21, 21, 21, 0.12); -webkit-transform: scale(1); transform: scale(1); box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21); -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .calendar.small { width: 400px; height: 400px; } .calendar.medium { width: 600px; height: 600px; } .calendar.large { width: 800px; height: 800px; } .year { width: calc(100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .year > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .year > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .month { width: calc(100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 20px 5px; font-size: 40px; box-shadow: 0px 2px 6px rgba(21, 21, 21, 0.21); } .month > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .month > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .labels { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .labels > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 12px; text-transform: uppercase; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; } .days { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-left: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21); } .row { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .day { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(21, 21, 21, .12); border-right: 1px solid rgba(21, 21, 21, .12); cursor: pointer; -webkit-transition: box-shadow 200ms ease-in-out; transition: box-shadow 200ms ease-in-out; } .day:last-child { border-right: none; } .day:hover { background-color: rgba(21, 21, 21, 0.012); box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .day-radios { display: none; } .day-radios:checked + .day { background-color: rgba(21, 21, 21, 0.012); box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .day > span { width: auto; font-size: 14px; color: rgba(21, 21, 21, 0.84); } .day.diluted { background-color: rgba(21, 21, 21, 0.021); box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12); } .day.diluted > span { width: auto; font-size: 10px; color: rgba(21, 21, 21, 0.73); }  .events { width: 800px; height: 800px; font-family: "Satellite", "Roboto", sans-serif; box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21); border: 1px solid rgba(21, 21, 21, 0.12); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .events.small { width: 400px; height: 400px; } .events.medium { width: 600px; height: 600px; } .events.large { width: 800px; height: 800px; } .date { width: calc(100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: ' + this.calendar.colors[1] + '; color: ' + this.calendar.colors[3] + '; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .date > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .date > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .rows { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden !important; } .list { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow-y: auto !important; padding: 0; margin: 0; color: rgba(21, 21, 21, 0.94); } .list > li { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(21, 21, 21, 0.12); } .list > li:hover { box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .list > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 2; -ms-flex: 2; flex: 2; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 10px; border-right: 1px solid rgba(21, 21, 21, 0.12); } .time { font-size: 14px; } .m { font-size: 14px; text-transform: uppercase; padding-left: 5px; } .list > li > p { -webkit-box-flex: 4; -ms-flex: 4; flex: 4; margin: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; font-size: 18px; word-wrap: break-word; word-break: break-word; }
