.toast {
  position: absolute;
  width: auto;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.774);
  width: fit-content;
  padding: 10px 25px;
  color: white;
  border-radius: 22px;
  display: flex;
}

.toast .message {
  padding: 0px 20px;
}
/*# sourceMappingURL=toast.css.map */