.description-toggle {
  color: #b4b4b4;
  padding-left: 10px;
}

.errlabel {
  padding-left: 12px;
}

.task-grid {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, minmax(250px, min-content));
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 350px;
  grid-gap: 20px;
}

.task-grid .grid-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
}

.task-grid .grid-item .cardtitle {
  border-bottom: 1px solid lightgray;
}

.task-grid .grid-item .cardtitle .setting-icon {
  color: gray;
  position: absolute;
  width: fit-content;
}

.task-grid .grid-item .cardtitle .setting-icon:hover + .menu {
  color: black;
  display: block;
}

.task-grid .grid-item .cardtitle .menu {
  position: absolute;
  width: 200px;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
  display: none;
}

.task-grid .grid-item .cardtitle .menu:hover {
  display: block;
}

.task-grid .grid-item .cardtitle .menu .item {
  width: 100%;
  padding: 5px 8px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.task-grid .grid-item .cardtitle .menu .item:hover {
  background-color: #cae9f3;
  border-radius: 5px;
}

.task-grid .grid-item .cardtitle .menu .item label {
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
}

.task-grid .grid-item .cardtitle .title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.task-grid .grid-item .cardtitle .duedate {
  text-align: center;
  font-size: 14px;
  width: fit-content;
  padding: 8px 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  color: gray;
  float: right;
  margin-top: -30px;
  margin-bottom: 10px;
}

.task-grid .grid-item .body .placeholder {
  margin-top: 10px;
}

.task-grid .grid-item .body .placeholder .timeago {
  text-align: center;
  font-size: 11px;
  width: fit-content;
  padding: 8px 20px;
  color: gray;
  margin: 0 auto;
}

.task-grid .grid-item .body .placeholder .icon {
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.task-grid .grid-item .body .placeholder .icon .img {
  height: 100%;
  width: auto;
  padding: 0px;
}

.task-grid .grid-item .body .placeholder .description {
  text-align: center;
  font-size: 14px;
  color: gray;
}

.task-grid .grid-item .body .placeholder .duedate {
  text-align: center;
  font-size: 14px;
  width: fit-content;
  padding: 8px 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  color: gray;
  margin: 0 auto;
}

.todo-checked .cardtitle .menu .action-checked {
  display: none !important;
}

.todo-checked .cardtitle .menu .action-unchecked {
  display: flex !important;
}

.todo-checked .body .placeholder .icon-checked {
  display: block;
}

.todo-checked .body .placeholder .icon-unchecked {
  display: none;
}

.todo-unchecked .cardtitle .menu .action-unchecked {
  display: none !important;
}

.todo-unchecked .cardtitle .menu .action-checked {
  display: flex !important;
}

.todo-unchecked .body .placeholder .icon-unchecked {
  display: block;
}

.todo-unchecked .body .placeholder .icon-checked {
  display: none;
}
/*# sourceMappingURL=todo.css.map */