<template>
    <!-- <ul class="chat">
        <li class="left clearfix" v-for="message in messages" :key="message.id">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ message.user.name }}
                    </strong>
                </div>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </li>
    </ul> -->

    <div class="msg_history">



        <div class="scrollwraper">

            <div class="looper"  v-for="message in messages" :key="message.id" >

                <div class="incoming_msg" v-if="auth.id != message.user.id">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                            alt=""> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>{{ message.message }} </p>
                            <span class="time_date"> {{message.created_at | moment }} </span>
                        </div>
                    </div>
                </div>

                <div class="outgoing_msg" v-else>
                    <div class="sent_msg">
                        <p>{{ message.message }}</p>
                        <span class="time_date"> {{message.created_at | moment }} </span>
                    </div>
                </div>

            </div>

        </div>



    </div>


</template>


<script>

    import moment from 'moment';


    export default {
        props: ['messages', 'auth' ],

        created(){

        },

        data:{
            selected_user :0
        },

        methods:{
            // getseletedUser(){
            //     var chatwith =$('.messaging').attr("selecteduser");
            //     this.selected_user = chatwith;
            //     return chatwith;
            //     // console.log(chatwith);
            // },
        }
        ,
        filters: {
            moment: function (date) {
                return moment(date).calendar();
            }
        },



    };
</script>
