.activity-box{
    display: flex;
    justify-content:space-around;
    .sling{
        min-height: 500px;
        // border: 1px solid red;
        width: 50%;

        .activity-holder{
            padding:5px;
            margin-bottom: 15px;

            .space{
                color: rgb(87, 49, 15);
                font-size: 20px;
            }
            .divider{

                border-bottom: 1px solid rgb(187, 187, 187);
            }
            .activity{
                display: flex;
                justify-content:space-evenly;
                margin-top: 10px;

                .icon{
                    height:45px;
                    width: 45px;
                    margin-right: 10px;
                    .userpresenter{
                        height:45px;
                        width: 45px;
                        text-align: center;
                        font-size:20px;
                        border-radius: 50%;
                        background-color: rgb(240, 240, 86);
                        color:white;
                        padding-top: 5px;
                    }
                }
                .info{
                    // width: 60%;
                    width: 100%;
                    margin-left: 15px;
                    .date{
                        color: gray;
                        font-size: 11px;
                        text-align: left;
                        display: block;
                        padding: 0px;
                    }
                    .title{
                        font-weight: bold;
                    }
                    .description{
                        color: gray;
                    }
                }

            }
        }
    }

    .sling-left{
        border-right: 1px solid rgb(187, 187, 187);
        padding-top:40px;
    }
    .sling-right{
        border-left: 1px solid rgb(187, 187, 187);
        padding-top:100px;


    }

}
