@mixin mobile(){
    @media (max-width: 722px){
        @content
    }
}


.controlpanel{
    width:60% ;
    margin : 0 auto ;
    // border: 1px solid red;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
    margin-top: 45px;
    background-color:white;
    border-radius:4px;
    height: auto;

    padding: 20px;

    @include mobile(){
        width:90%;
    }

    .header{

        .menu{

        }
        .meta{
            padding: 10px;
            text-align: center;
            color: black;
            .title{
                font-size: 28px;
                font-weight: bold;

            }
            .description{
                font-size: 18px;
                // font-weight: bold;
                margin-top:10px;
                color: gray;
            }
        }
        .people{
            width: 100%;
            display: flex;
            justify-content: center;

            .joined{
                display: flex;
                justify-content: center;
                .perk{
                    height:30px;
                    width: 30px;
                    background-color: rgb(226, 223, 24);
                    color: white;
                    border-radius:50%;
                    margin: 0px 4px;
                    display : grid;
                    justify-content:center;
                    text-align: center;
                    cursor: help;

                    p{
                        text-align: center;
                        padding-top: 2px;
                    }
                }
            }
            .addnew{
                border: 1px solid gray;
                color: black;
                font-size:12px;
                border-radius: 20px;
                text-align: center;
                padding: 5px 10px;
                margin-left: 10px;
                cursor: pointer;
                &:hover{
                    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
                }
            }
        }
    }
    .body{
        // border: 1px solid red;
        margin-top: 20px;
        .task-grid{
            display:grid;
            grid-template-rows: repeat(3, minmax(250px, min-content));
            grid-template-columns: repeat(auto-fill,200px);
            grid-template-columns: repeat(auto-fit,200px);
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));

            grid-auto-rows: 350px;
            grid-gap: 20px;

            .grid-item{
                border: 1px solid lightgray;
                border-radius: 10px;
                background-color: white;
                overflow: hidden;
                padding: 10px 20px;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);

                .cardtitle{
                    border-bottom: 1px solid lightgray;
                    .title{
                        font-size: 18px;
                        color: black;
                        font-weight: bold;
                        text-align: center;
                    }
                }
                .body{
                    .placeholder{
                        margin-top: 30px;
                        .icon{
                            height:60px;
                            text-align: center;
                            margin-bottom: 10px;
                            .img{
                                // transform: scale(2.5);
                                height:100%;
                                width: auto;
                                padding: 0px;


                            }
                        }
                        .description{
                            text-align: center;
                            font-size: 14px;
                            color: gray;
                        }
                    }
                }
                // width: 350px;
                // height:350px;
            }
        }
    }
}
