@mixin aim {
        border: 1px solid red;
}


.select-menu{
    position: absolute;
    width: 200px;
    margin-top:20px;
    padding: 20px 10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
    display: none;
    z-index: 120;

    &:hover{
        display:block;
    }

    .item{
        width: 100%;
        padding: 5px 8px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        align-items: center;
        &:hover{
            background-color:rgb(202, 233, 243) !important;
            border-radius: 5px;
        }
        label{
            width:100%;
            text-align: center;
            display:grid;
            align-items:center;

        }

    }
    // .hide{
    //     display: none !important;
    // }

}


.addbtn:hover + .select-menu{
    display: block;
}




.task-grid{
    margin-top: 20px;
    display:grid;
    grid-template-rows: repeat(3, minmax(250px, min-content));
    grid-template-columns: repeat(auto-fill,200px);
    grid-template-columns: repeat(auto-fit,200px);
    // grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit,250px);

    grid-auto-rows: 350px;
    grid-gap: 20px;

    .grid-item{
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: white;
        // overflow: hidden;
        padding: 10px 20px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);

        .cardtitle{
            border-bottom: 1px solid lightgray;
            // display: flex;
            // justify-content:space-between;

            .setting-icon{
                color:gray;
                position: absolute;
                width: fit-content;

                // &:hover{
                //     color: black;

                // }
            }


            .setting-icon:hover + .menu{
                color: black;
                display:block;


            }



            .menu{
                position: absolute;
                width: 200px;
                margin-top:20px;
                padding: 20px 10px;
                background-color:white;
                border-radius:10px;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
                display: none;

                &:hover{
                    display:block;
                }

                .item{
                    width: 100%;
                    padding: 5px 8px;
                    display: flex;
                    justify-content: flex-start;
                    cursor: pointer;
                    align-items: center;
                    &:hover{
                        background-color:rgb(202, 233, 243);
                        border-radius: 5px;
                    }
                    label{
                        width:100%;
                        text-align: center;
                        display:grid;
                        align-items:center;
                    }

                }
                // .hide{
                //     display: none !important;
                // }

            }


            .title{
                font-size: 18px;
                color: black;
                font-weight: bold;
                text-align: center;
                // width: 100%;
            }

            .duedate{
                text-align: center;
                font-size: 14px;
                width: fit-content;
                padding: 8px 20px;
                border: 1px solid lightgray;
                border-radius:8px;
                color: gray;
                // position: absolute;
                float :right;
                margin-top: -30px;
                margin-bottom:10px;


            }
        }
        .body{
            .placeholder{
                margin-top: 10px;
                .file-view{
                    height: 180px;
                    width:100%;
                    // border: 1px solid red;
                    overflow: hidden;
                    display:grid ;
                    align-items: center;
                    .image-thumb{
                        width: 100%;
                        height: auto;

                    }
                }

                .folder-icon{
                    font-size: 80px;
                    height: 180px;
                    display: grid;
                    align-items: center;
                    text-align: center;
                    color: rgb(118, 131, 146);
                    cursor: pointer;
                }
                .timeago{
                    text-align: center;
                    font-size: 11px;
                    width: fit-content;
                    padding: 8px 20px;
                    color: gray;
                    margin: 0 auto;
                }
                .icon{
                    height:60px;
                    text-align: center;
                    margin-bottom: 10px;
                    .img{
                        // transform: scale(2.5);
                        height:100%;
                        width: auto;
                        padding: 0px;
                    }
                }
                .description{
                    text-align: center;
                    font-size: 14px;
                    color: gray;
                }
                .duedate{
                    text-align: center;
                    font-size: 14px;
                    width: fit-content;
                    padding: 8px 20px;
                    border: 1px solid lightgray;
                    border-radius:8px;
                    color: gray;
                    margin: 0 auto;

                }
            }
        }
        // width: 350px;
        // height:350px;
    }
}



.file-preview{
    // border: 1px solid red;
    margin-top: 20px;
    display:flex;
    // @include aim();

    img{
        height: 200px;
        width: auto;
    }
}


.file-display{
    border: 1px solid lightgray;
    border-radius:10px;
    width : 100%;
    min-height : 400px;
    margin-top: 25px;

    .file-preview{
        width: 100%;
        display :grid;
        align-items : center;
        text-align: center;
        .image{
            // max-width:100%;
            width: auto;
            height:300px;
            margin: 0 auto;
        }
    }
}



.document-display{
    border: 1px solid lightgray;
    border-radius:10px;
    width : 100%;
    padding: 20px;
    min-height : 400px;
    margin-top: 25px;

    .document-preview{
        width: 100%;
        display :grid;
        align-items : center;
        // text-align: center;

    }
}


.folder-row{
    padding: 10px;
    .folder{
        display : flex;
        border: 1px solid gray;
        border-radius: 6px;
        margin-bottom: 10px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
        }
        .icon{
            color: #768392;

        }
        .name{
            color: black;
            margin-left: 20px;
        }
    }
    .selected{
        border: 1px solid green;
        background-color:rgb(224, 224, 224);
    }
}


.btn-prefolder{
    border: none;
    background :none;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px 8px;
    float : right;

    &:hover{
        background-color: black;
        color: white;
    }

}
