$mobile-width: 500px;
$tablet-width: 768px;
$desktop-width: 1180px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}



@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
}
