
@import './functions.scss';

.global-select-modal{
    // border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.171);
    position: fixed;
    display: none;



    height:100vh;
    width: 100vw;

    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);

    z-index: 300;

    .body{
        width: 40%;
        height:60%;

        background-color: #725ead;
        box-shadow: -1px 1px 14px 3px #0000004a;

        border-radius: 10px;

        position: relative;

        top: 50%;
        left: 50%;

        transform: translate(-50% , -50%);

        // padding: 20px;

        @include desktop(){
            width: 80% !important;
        }

        .header{
            padding: 12px;
            .searchinp{
                border: none;
                background-color: rgba(0, 0, 0, 0.11);
                border-radius: 6px;
                width: 100%;
                height: 35px;
                text-indent: 12px;
                color: white;


            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgb(235, 235, 235);
              }

        }


        .content{
            padding: 10px 18px;
            .collection-group{

                .title{
                    color: #a08ae2;
                }
                .collection{
                    padding-top: 12px;

                    .rowselect{
                        background-color:#9d85e4;
                    }
                    .searchablerow{
                        color: white;
                        display:flex;
                        padding: 10px;
                        border-radius: 12px;
                        margin-bottom: 10px;



                        &:hover{
                            background-color:#9d85e4;


                        }

                        .icon{
                            width: 10%;
                            height: 26px;
                            width: 26px;
                            color: black;
                            background-color: white;
                            border-radius: 50%;
                            overflow: hidden;

                            i{
                                position: relative;
                                font-size: 12px;
                                top: 20%;
                                left: 50%;

                                transform: translate(-50% , -50%);
                            }

                            .img{
                                width: 100%;
                                height: auto ;
                                padding: 0px;
                            }


                        }
                        .detail{
                            width: 90%;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }


    }

}
