
@mixin mobile(){
    @media (max-width: 722px){
        @content
    }
}

.actionpanel{

    width:50% ;
    margin : 0 auto ;
    // border: 1px solid red;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);
    margin-top: 10px;
    background-color:white;
    // border-radius:4px;
    height: auto;

    padding: 10px;
    // min-height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top:60px;
    @include mobile(){
        width:80%;
    }

    .name{
        color:black;
        margin-left: 12px;
        font-size: 22px;
        font-weight: bold;

    }
    .link{
        color:gray;
        display:grid;
        justify-content:center;
        align-items:center;
        font-size: 20px;
        &:hover{
            color:black;
        }
    }


}

.panelcard{
    width:60% ;
    margin : 0 auto ;
    // border: 1px solid red;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.158);

    background-color:white;
    border-radius:4px;
    height: auto;

    padding: 50px;
    min-height: 500px;

    @include mobile(){
        width:90%;
    }


    .header{
        display:flex;
        justify-content: flex-start;
        border-bottom: 1px solid gray;

        .addbtn{
            align-self: flex-start;
            float: left;
            font-size: 13px;
            background-color: rgb(45, 202, 129);
            color: white;

        }
        .title{
            width:80%;
            text-align: center;
            font-size: 35px;
            margin-top: -7px;
            font-weight: bold;
        }
    }





    // userlist
    .userslist{
        margin: 0 auto;
        margin-top: 50px;
        width: 90%;

        @include mobile(){
            // width:
        }


        // border: 1px solid red;

        .coastline{
            border: 1px solid gray;
            margin-top: 20px;
        }

        .title{
            color: black;
            font-size:20px;
            background-color:white;
            padding: 10px;
            font-weight: bold;
            margin-top: -30px;
            width: fit-content;
        }


        .user{
            padding: 10px 30px  ;
            display: flex;
            justify-content: flex-start;
            .profile{
                height:80px;
                width: 80px;
                border-radius: 50%;
                margin-right: 20px;
                overflow: hidden;
                .img{
                    width:100%;
                    padding: 0px;
                }
            }
            .info{
                .name{
                    font-weight: bold;
                    font-size: 16px;

                }
                .email{
                    color: gray;
                    font-size: 14px;

                }
                .designation{
                    color: gray;
                    font-size: 14px;

                }
                .actions{
                    display: flex;
                    margin-top: 12px;
                    display: none;
                    .action{
                        font-size:12px;
                        height:30px;
                        width:30px;
                        padding: 0px;
                        margin-right: 12px;
                        .i{
                            padding:0px;
                            text-align:center;
                        }
                    }
                }


            }

            &:hover{
                .info{
                    .actions{
                        display:flex;
                    }
                }
            }
        }
    }


    // add new person
    .addnewperson{
        display: none;

        .head{
            .close{
                height:30px;
                width:30px;
                border: 1px solid gray;
                border-radius:50%;
                text-align:center;
                margin: 10px;
                display:grid;
                align-items:center;
                i{
                    font-size: 16px;
                }
            }
        }
        .steps{
            background-color: #faf8f7;
            border-radius: 18px;
            margin-top: 20px;

            min-height: 400px;
            padding: 20px;


            .step{
                border-bottom: 1px solid lightgray;
                padding : 20px 0px;
                .title{
                    font-size: 22px;
                }
                &:last-child{
                    border: 0px;
                }

                .body{
                    padding: 10px;
                }
            }

            .step1{
                .body{
                    .addanother{
                        font-size: 12px;
                    }

                    .newpersonvoid{

                        .newpersonform{
                            background-color: white;
                            padding: 10px;
                            border-radius: 8px ;
                            margin-bottom: 20px;
                            padding-bottom: 0px;

                            .header{
                                border: 0px;
                                .remove{
                                    display:block;
                                    width:100%;
                                    i{
                                        float: right;
                                        font-size:20px;
                                        color: gray;
                                        cursor: pointer;
                                        &:hover{
                                            color: black;
                                        }
                                    }
                                }
                            }

                            .form-group{
                                display: flex;
                                border-bottom: 1px solid lightgray;
                                padding:0px;
                                padding-bottom: 10px;
                                &:last-child{
                                    border: 0px;
                                }
                                label{
                                    margin-right: 20px;
                                    font-size: 18px;
                                    width: fit-content;
                                    color:gray;
                                }
                                input{
                                    border: 0;
                                    width:70%;
                                }
                                select{
                                    border: 0;
                                    width:70%;
                                }
                            }
                        }
                    }

                }
            }

            .step3{
                .body{
                    .btnrow{
                        font-size: 12px;
                        display: flex;
                        justify-content: flex-start;
                        .btn{
                            margin-right: 10px;
                        }
                        .sendnow{
                            background-color:rgb(45, 202, 129);
                            color: white;
                        }

                    }
                }
            }

        }
    }


}




.widemodal{
    max-width: 45%;
    @include mobile(){
        max-width: 100%;

    }
}


.mailinfo{
    .info{
        span{
            padding-right: 20px;
        }

    }
}

.mail-view{
    margin-top:15px;
    .title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .mail-note{
        margin-bottom: 20px;
        .note-title{
            font-size: 20px;
            margin-bottom: 10px;
        }
        .note{
            font-size: 18px;
            color:black;
            background-color: #ffffaf;
            border: 1px solid #c7c700;
            padding: 10px;
            width: 100%;
            border-radius:6px;
        }
    }
    .mail-join{
        margin: 15px 0px;
        .join-note{
            font-size: 20px;
        }
        .join-button{
            margin-top:15px;
            background-color:#2da562;
            color: white;

        }
        .reply-note{
            font-size: 18px;
            margin-top:15px;
        }
    }
}
