
@import './functions.scss';


.sidebar-toggle{
    font-size:25px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
    display:none;

    @include desktop(){
        display:block;
    }

}

@include desktop(){

    .searchbarholder{
        width: 20% !important;
        // margin-left:-12px !important;
        display : flex !important;
        justify-content: flex-end !important;
        // align-items: auto !important;
        align-items: flex-end;
    }
    .searchbar{
        width: 100% !important;
        transform: translateX(0%);
    }
}

.leet-sidebar-show{
    display:none !important;
}

.leet-sidebar{
    // border: 1px solid red;
    background-color:#f9f7f2;
    box-shadow:1px 0px 10px 1px rgba(0, 0, 0, 0.068);
    height:80vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    // width: 100px;
    border-radius:15px;
    padding: 20px 0px;
    transition:0.6s;

    height:auto ; min-height:90vh;

    @include desktop(){
        // display:none;

        display: block;
        width: 100%;
        height: 100vh;
        left: 0;
        padding-top: 85px;

    }

    &:hover{
        transition: 0.6s;
        .menu-item{

            width: 70px;
            transition:0.6s;

            @include desktop(){
                width: 42%;
                float: left;
                background: #fff4e8;
                margin: 4%;

            }

            .icon{
                width: 40px;
            }


            .label{
                display: block;

                @include desktop(){
                    display: block;
                }
            }



        }
    }


    .menu-item{
        width: 60px;
        border-radius:12px;
        padding-bottom: 4px;
        cursor: pointer;
        margin-bottom: 12px;
        transition: 0.6s;

        @include desktop(){
            width: 42%;
            float: left;
            background: #fff4e8;
            margin: 4%;
            box-shadow:1px 0px 10px 1px rgba(0, 0, 0, 0.192);

        }


        &:hover{
            background-color: rgb(37, 37, 37);
            // box-shadow:1px 0px 10px 1px rgba(0, 0, 0, 0.137);
            .label{
                color: white;

            }
        }

        .icon{
            width: 50%;
            text-align: center;
            margin: 0 auto;
            // padding: 5px ;
            transition: 0.6s;

            img{
                width:100%;
            }
        }
        .label{
            text-align: center;
            margin-top: 4px;
            font-size:12px;
            margin-bottom: 6px;
            display:none;
            @include desktop(){
                display: block;
            }
        }
    }
    .active{

        background-color: rgb(37, 37, 37);
        // box-shadow:1px 0px 10px 1px rgba(0, 0, 0, 0.137);
        .label{
            color: white;
            display:block;
        }

    }
}
