

.topheader{
    height:55px;
    width:100%;
    background:#F7F3F1;
    position: fixed;
    top: 0 ;
    left: 0;
    display:flex;
    z-index: 120;
    .logo{
        height:100%;
        margin-left: 10px;
        img{
            height:100%;
            width: auto;
        }
    }

    .searchbarholder{
        // width: fit-content;
        // width: 50%;
        margin: 0 auto;
        height:100%;
        transform: translateX(-40%);
        display: grid;
        align-items: center;
        input{
            background: none;
            width: 280px;
            border: 1px solid gray;
            border-radius: 9px;
            text-align: center;
        }
    }
}


.uploadbox{
    padding: 20px;
    border: 1px dashed rgb(192, 144, 89);
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.logopreviewbox{
    height: 100px;
    text-align: center;
    img{
        width:auto;
        height:100% !important;
    }
    .btngroup{
        margin: 0 auto;
        margin-top:12px;
        width: fit-content;

        .btn{
            font-size:12px;
        }
    }
}


.actuallogo{
    height: 100px;
    text-align: center;
    img{
        width:auto;
        height:100% !important;
    }
}

.settingbtn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    font-size: 15px;
    cursor: pointer;
    &:hover{
        color: black;
    }
}

.company-collection-card-modal{
    box-shadow: 1px 1px 5px 2px #00000014;
    padding: 30px;
    .company-name{
        font-size: 19px;
        font-weight: bold;
    }
    .company-description{
        font-size: 15px;
        margin-top:15px;
    }
    .users-in-company{
        // border: 1px solid red;
        display:flex;
        justify-content: flex-start;
        margin-top: 15px;
        .user{
            margin-right: 10px;
            .profile-placeholder{
                width: 30px;
                height: 30px;
                border-radius:50%;
                background-color:yellow;
                text-align: center;
                overflow: hidden;
                font-weight: bold;
                padding-top: 4px;
                // font-size:12px
                display: grid;
                justify-content: center;

            }
            .profile-img{
                width: 30px;
                height: 30px;
                border-radius:50%;
                overflow: hidden;
                display:grid;
                background-color:black;
                justify-content: center;
                .profile{
                    width: 100%;
                    padding: 0px;
                }
            }
        }
    }

    &:hover{
        transition: 0.6s;
        transform: scale(1.07);
        cursor: pointer;
    }
}


.colorpicker{
    background : none;
    border-radius: 50%;
    height:20px;
    width: 20px;
    padding: 0px;
    margin-left: 50px;
}

input[type="color" i]{
    padding: 0px !important;
    border-radius: 50%;
    height:20px;
    width: 20px;
    padding: 0px;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 20px;
	height: 20px;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border-radius: 50%;

}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;

}

.company-collection-card{
    box-shadow: 1px 1px 5px 2px #00000014;
    overflow:hidden;
    .view{

        padding: 30px;

        .pin-icon{
            position: absolute;
            top: 0;
            left: 7px;
            width: fit-content;
            height:40px;

            img{
                height:100%;
                width: auto;
            }
        }

        .editor-toggle{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }
        .company-name{
            font-size: 19px;
            font-weight: bold;
        }
        .company-description{
            font-size: 15px;
            margin-top:15px;
        }
        .users-in-company{
            // border: 1px solid red;
            display:flex;
            justify-content: flex-start;
            margin-top: 15px;
            .user{
                margin-right: 10px;
                .profile-placeholder{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    background-color:yellow;
                    text-align: center;
                    overflow: hidden;
                    font-weight: bold;
                    padding-top: 4px;
                    // font-size:12px
                    display: grid;
                    justify-content: center;

                }
                .profile-img{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    overflow: hidden;
                    display:grid;
                    background-color:black;
                    justify-content: center;
                    .profile{
                        width: 100%;
                        padding: 0px;
                    }
                }
            }
        }


    }
    .editor{

        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;


        .editor-close{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }

        .name{
            font-weight: bold;
            // margin-bottom: ;
            // position: absolute;
            // left: 10;
            // top: 10;
            margin-bottom:10px;

        }
        ul{
            list-style: none;
            padding: 0px;
            li{
                font-size:18px;
                &:hover{
                    transform : scale(1.02);
                    background-color : rgba(116, 188, 230, 0.267);
                }
                i{
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
        }

    }

    .successpulse{
        transition:0.6s;
        background-color: rgba(145, 255, 191, 0.637);

    }


    &:hover{
        // transition: 0.4s ease-in;
        transform: scale(1.05);
        cursor: pointer;
    }
}





.team-collection-card{
    box-shadow: 1px 1px 5px 2px #00000014;
    overflow:hidden;
    .view{

        padding: 30px;

        .editor-toggle{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }
        .team-name{
            font-size: 19px;
            font-weight: bold;
        }
        .team-description{
            font-size: 15px;
            margin-top:15px;
        }
        .users-in-team{
            // border: 1px solid red;
            display:flex;
            justify-content: flex-start;
            margin-top: 15px;
            .user{
                margin-right: 10px;
                .profile-placeholder{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    background-color:yellow;
                    text-align: center;
                    overflow: hidden;
                    font-weight: bold;
                    padding-top: 4px;
                    // font-size:12px
                    display: grid;
                    justify-content: center;

                }
                .profile-img{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    overflow: hidden;
                    display:grid;
                    background-color:black;
                    justify-content: center;
                    .profile{
                        width: 100%;
                        padding: 0px;
                    }
                }
            }
        }


    }
    .editor{

        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;


        .editor-close{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }

        .name{
            font-weight: bold;
            // margin-bottom: ;
            // position: absolute;
            // left: 10;
            // top: 10;
            margin-bottom:10px;

        }
        ul{
            list-style: none;
            padding: 0px;
            li{
                font-size:18px;
                &:hover{
                    transform : scale(1.02);
                    background-color : rgba(116, 188, 230, 0.267);
                }
                i{
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
        }

    }

    .successpulse{
        transition:0.6s;
        background-color: rgba(145, 255, 191, 0.637);

    }


    &:hover{
        // transition: 0.4s ease-in;
        transform: scale(1.05);
        cursor: pointer;
    }
}




// project design




.project-collection-card{
    box-shadow: 1px 1px 5px 2px #00000014;
    overflow:hidden;
    .view{

        padding: 30px;

        .editor-toggle{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }
        .project-name{
            font-size: 19px;
            font-weight: bold;
        }
        .project-description{
            font-size: 15px;
            margin-top:15px;
        }
        .users-in-project{
            // border: 1px solid red;
            display:flex;
            justify-content: flex-start;
            margin-top: 15px;
            .user{
                margin-right: 10px;
                .profile-placeholder{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    background-color:yellow;
                    text-align: center;
                    overflow: hidden;
                    font-weight: bold;
                    padding-top: 4px;
                    // font-size:12px
                    display: grid;
                    justify-content: center;

                }
                .profile-img{
                    width: 30px;
                    height: 30px;
                    border-radius:50%;
                    overflow: hidden;
                    display:grid;
                    background-color:black;
                    justify-content: center;
                    .profile{
                        width: 100%;
                        padding: 0px;
                    }
                }
            }
        }


    }
    .editor{

        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        background: white;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition:0.6s;


        .editor-close{
            position: absolute;
            color: gray;
            top: 10px;
            right: 10px;
            &:hover{
                color: black;
            }
        }

        .name{
            font-weight: bold;
            // margin-bottom: ;
            // position: absolute;
            // left: 10;
            // top: 10;
            margin-bottom:10px;

        }
        ul{
            list-style: none;
            padding: 0px;
            li{
                font-size:18px;
                &:hover{
                    transform : scale(1.02);
                    background-color : rgba(116, 188, 230, 0.267);
                }
                i{
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
        }

    }

    .successpulse{
        transition:0.6s;
        background-color: rgba(145, 255, 191, 0.637);

    }


    &:hover{
        // transition: 0.4s ease-in;
        transform: scale(1.05);
        cursor: pointer;
    }
}
