.description-toggle{
    color: rgb(180, 180, 180);
    padding-left: 10px;
}


.errlabel{
    padding-left: 12px;
}


.task-grid{
    margin-top: 20px;
    display:grid;
    grid-template-rows: repeat(3, minmax(250px, min-content));
    grid-template-columns: repeat(auto-fill,200px);
    grid-template-columns: repeat(auto-fit,200px);
    // grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit,250px);

    grid-auto-rows: 350px;
    grid-gap: 20px;

    .grid-item{
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: white;
        // overflow: hidden;
        padding: 10px 20px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);

        .cardtitle{
            border-bottom: 1px solid lightgray;
            // display: flex;
            // justify-content:space-between;

            .setting-icon{
                color:gray;
                position: absolute;
                width: fit-content;

                // &:hover{
                //     color: black;

                // }
            }


            .setting-icon:hover + .menu{
                color: black;
                display:block;


            }



            .menu{
                position: absolute;
                width: 200px;
                margin-top:20px;
                padding: 20px 10px;
                background-color:white;
                border-radius:10px;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.158);
                display: none;

                &:hover{
                    display:block;
                }

                .item{
                    width: 100%;
                    padding: 5px 8px;
                    display: flex;
                    justify-content: flex-start;
                    cursor: pointer;
                    align-items: center;
                    &:hover{
                        background-color:rgb(202, 233, 243);
                        border-radius: 5px;
                    }
                    label{
                        width:100%;
                        text-align: center;
                        display:grid;
                        align-items:center;
                    }

                }
                // .hide{
                //     display: none !important;
                // }

            }


            .title{
                font-size: 18px;
                color: black;
                font-weight: bold;
                text-align: center;
                // width: 100%;
            }

            .duedate{
                text-align: center;
                font-size: 14px;
                width: fit-content;
                padding: 8px 20px;
                border: 1px solid lightgray;
                border-radius:8px;
                color: gray;
                // position: absolute;
                float :right;
                margin-top: -30px;
                margin-bottom:10px;


            }
        }
        .body{
            .placeholder{
                margin-top: 10px;
                .timeago{
                    text-align: center;
                    font-size: 11px;
                    width: fit-content;
                    padding: 8px 20px;
                    color: gray;
                    margin: 0 auto;
                }
                .icon{
                    height:60px;
                    text-align: center;
                    margin-bottom: 10px;
                    .img{
                        // transform: scale(2.5);
                        height:100%;
                        width: auto;
                        padding: 0px;


                    }
                }
                .description{
                    text-align: center;
                    font-size: 14px;
                    color: gray;
                }
                .duedate{
                    text-align: center;
                    font-size: 14px;
                    width: fit-content;
                    padding: 8px 20px;
                    border: 1px solid lightgray;
                    border-radius:8px;
                    color: gray;
                    margin: 0 auto;

                }
            }
        }
        // width: 350px;
        // height:350px;
    }
}





.todo-checked{
    .cardtitle{


        .menu{
            .action-checked{
                display: none !important;
            }
            .action-unchecked{
                display: flex !important;
            }
        }
    }
    .body{
        .placeholder{
            .icon-checked{
                display: block;
            }
            .icon-unchecked{
                display: none;
            }
        }
    }
}



.todo-unchecked{
    .cardtitle{
        .menu{
            .action-unchecked{
                display: none !important;
            }
            .action-checked{
                display: flex !important;
            }
        }
    }
    .body{
        .placeholder{
            .icon-unchecked{
                display: block;
            }
            .icon-checked{
                display: none;
            }
        }
    }
}
